<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Trackdata declaration</Title>
			<Shortcut>trackd</Shortcut>
			<Description>Creates a new trackdata declaration.</Description>
			<Author>ABB</Author>
			<SnippetTypes>
        <SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<Default>tr</Default>
					<ToolTip>The name of the new data</ToolTip>
				</Literal>        
			</Declarations>
			<Code Language="RAPID">
        <![CDATA[TASK PERS trackdata $name$:=[0,FALSE,100,[0,10,10,2,0,3,10,3,10],[0,0,0,0,0,0,0]];]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>